body {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-family: arial,sans-serif;
}

h3 {
    margin-bottom: 0px;
}

cite {
    color: rgb(0, 102, 33);
}

.hidden {
    display: none;
}

#form-search-box {
    display: flex;
}

    #form-texto {
        flex: 1;
    }
    
    #custom-search {
        flex: 1;
    }

#form-baixar-xml {
    display: inline;
}

#form-baixar-json {
    display: inline;
}
