body {
    margin-left: auto;
    margin-right: auto;
    font-family: arial,sans-serif;
}

cite {
    color: rgb(0, 102, 33);
}

#form-search-box {
    display: flex;
}

    #form-texto {
        flex: 1;
    }
    
    #custom-search {
        flex: 1;
    }