{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Título Geral</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href='{% static "recomendacao/css/recomendacao.css" %}' rel='stylesheet' />
</head>

<body>
    {% block content %}{% endblock content %}
    
    <div>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
        <script src='{% url "jquery_redirect_csrf" %}'></script>
        <script src='{% static "recomendacao/js/jquery.serialize-object.compiled.js" %}'></script>
        
        <script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
        <script>
            tinymce.init({
                selector:'textarea',
                //language_url: '{% static "recomendacao/tinymce/langs/pt.js" %}'
            });
        </script>
        
        <script src='{% url "js" %}'></script>
        <script src='{% url "js_aux" %}'></script>
    </div>
</body>
</html>