{% extends 'recomendacao/base.html' %}

{% block content %}

<style type="text/css">
    body {
        width: 1200px;
    }
}
</style>

<div id='form-search-box'>
    <form id='form-texto' method='post'>
        {% csrf_token %}
        <div>
            {{ form.text }}
        </div>
        
        <div>
            <input id="btn-enviar-texto" type="button" value="Enviar texto">
        </div>
    </form>
    
    <div id='custom-search'>
        <div id="results"></div>
    </div>
</div>

{% endblock content %}