{% extends 'recomendacao/base.html' %}

{% block extra_css %}
<style type='text/css'>
    #results-files {
        text-align: center;
    }
</style>
{% endblock extra_css %}

{% block content %}
<div id='form-search-box'>
    <form id='form-texto-post' method='post'>
        {% csrf_token %}
        <div>
            {{ form.text }}
        </div>

        <div>
            Atualização do cache: {{ form.cache_reload }} segundos
        </div>

        <div>
            <input id='btn-enviar-texto-ajax' type='submit' value='Enviar texto via POST (Ajax)'>
        </div>
    </form>
</div>

<br />
<div id='results-ajax'></div>
{% endblock content %}

{% block extra_js %}
<script type='text/javascript' src='{% url "js-v2" %}'></script>
{% endblock extra_js %}