{% extends 'recomendacao/base.html' %}

{% block extra_css %}
<style type='text/css'>
    body {
        width: 1200px;
    }
</style>
{% endblock extra_css %}

{% block content %}
<div id='form-search-box'>
    <form id='form-texto' method='post'>
        {% csrf_token %}
        <div>
            {{ form.text }}
        </div>
        
        <div>
            <input id="btn-enviar-texto" type="submit" value="Enviar texto">
        </div>
    </form>
    
    <div id='custom-search'>
        <div id="results"></div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script type='text/javascript' src='{% url "js-v1" %}'></script>
{% endblock extra_js %}