{% extends 'recomendacao/base.html' %}

{% block content %}

<div id='results'>
    <div>
        <a href='{{ FILES_URL }}{{ text_hash }}.xml'>Baixar XML</a>
    </div>
    <div>
        <a href='{{ FILES_URL }}{{ text_hash }}.json'>Baixar JSON</a>
    </div>
    
    <div>
        {% for result in results_list %}
            <h3><a href='{{ result.url }}'>{{ result.title }}</a></h3>
            <cite>{{ result.url }}</cite><br />
            {{ result.snippet }}
        {% endfor %}
    </div>
</div>

<script>
    var sobek_output = '';
    
    {% for word in sobek_output %}
        sobek_output += '{{ word }},';
    {% endfor %}
    sobek_output = sobek_output.slice(0, -1);
    
    console.log('Saída do Sobek: %s', sobek_output);
</script>

{% endblock content %}