{% extends 'recomendacao/base.html' %}

{% block content %}

<div id='results'>
    <form id="form-baixar-xml" method='POST'>
        {% csrf_token %}
        <input type="submit" value="Baixar XML" />
    </form>

    <form id="form-baixar-json" method='POST'>
        {% csrf_token %}
        <input type="submit" value="Baixar JSON" />
    </form>
    
    <div>
        {% for result in results_list %}
            <h3><a href='{{ result.url }}'>{{ result.title }}</a></h3>
            <cite>{{ result.url }}</cite><br />
            {{ result.snippet }}
        {% endfor %}
    </div>
</div>

<script>
    var sobek_output = '';
    
    console.log('Entrada do Sobek: %s', '{{ text }}');
    
    {% for word in sobek_output %}
        sobek_output += '{{ word }},';
    {% endfor %}
    sobek_output = sobek_output.slice(0, -1);
    
    console.log('Saída do Sobek: %s', sobek_output);
</script>

{% endblock content %}